/* base.css applies to all pages */
body {
    padding-top: 20px;
    background: #888888;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}
.dialog {
    border: 4px outset white;
    width: 80%;
    margin: auto;
    padding: 1.1em;
    background: #999999;
}
.nameform {
    width: 50%;
    height: 2em;
}
.captcha {
    image-rendering: pixelated;
}
.r-outer {
    background: #bbbbbb;
    padding: 1em;
}
.r-feed {
    overflow-y: scroll;
}
.r-msg-tag {
    font-weight: bold;
}
.r-input-bar {
    display: flex;
}
/* desktop */
@media screen and (min-width:750px) {
    .cols {
        display: flex;
        flex-direction: row;
    }
    body {
        width: 60%;
        margin: auto;
    }
    .captcha {
        width: 50%;
        padding: 0 25%;
    }
    #id_captcha_1 {
        width: 100%;
        height: 2em;
        text-align:center;
    }
    .r-feed {
        height: 50vh;
    }
    .r-msg-hash {
        font-size: 0.9em;
    }
    .r-input-bar {
        flex-direction: row;
    }
    .r-input-box {
        width: -moz-available;
        width: -webkit-fill-available;
    }
}
/* mobile */
@media screen and (max-width:750px) {
    .captcha {
        width: 100%;
    }
    .r-feed {
        height: 80vh;
    }
    .r-msg {
        font-size: 12px;
    }
    .r-msg-hash {
        font-size: 9px;
    }
    .r-input-bar {
        flex-direction: column;
    }
    .r-input-box {
        height:1.4em;
        margin-top: 0.4em;
        margin-bottom: 1em;
    }
}
/* fmt */
.white { color: white; }
.small { font-size: 0.8em; }
.large { font-size: 1.2em; }
.center { text-align:center; }

